*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 105%;
}

form{
  margin-top: 1em;
}

form>div{
  margin: .5em;
}

form>div>p{
  margin-top: .5em;
}

input[type=submit] {
  padding: .5em 1em;
  background-color: seagreen;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: .5em;
}

input[type=submit]:active{
  background-color: darkseagreen;
}
